@font-face {
    font-family: "Graphik LC Web Regular";
    src: url("../fonts/Graphik LC Web Regular.eot");
    src: url("../fonts/Graphik LC Web Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Graphik LC Web Regular.woff2") format("woff2"),
    url("../fonts/Graphik LC Web Regular.woff") format("woff"),
    url("../fonts/Graphik LC Web Regular.ttf") format("truetype"),
    url("../fonts/Graphik LC Web Regular.svg#Graphik LC Web Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Graphik LC TT', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}


a {
    color: #000000;
    text-decoration: none;
}

.header__content, .banner__description, .content__banner1-body-text, .content__banner1-spare-text, .banner__two-description, .banner__two-description-title, .content__page-description h2, .content__page-description p, .content__banner-three-global-title h2, .banner__three-item h3, .banner__three-item p {
    font-family: 'Graphik LC TT', sans-serif;
}

/* existing css */

/*  statick settings start*/

:root {
    --background-color-btn-white: #FFFFFF;
    --color-btn-white: #000;
    --background-color-btn-orange: #FF6336;
    --color-btn-orange: #fff;
}
/*  statick settings    end*/

/*  all settings    start   */

.container {
    max-width: 1290px;
    /*min-width: 1290px;*/
    padding: 0 35px;
    margin: 0 auto;
}

.btn__black {
    width: 140px;
    height: 40px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn__white {
    width: 125px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: var(--background-color-btn-white);
    font-weight: bold;
}

.btn__orange {
    width: 125px;
    height: 40px;
    border: 1px solid rgba(255, 99, 54, 1);
    background-color: var(--background-color-btn-orange);
    font-weight: bold;
}

.btn__orange a {
    color: #FFFFFF;
}

/* all settings end */

/* header start */

.header__content {
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__content-left,
.header__content-left ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header__content-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* header end */

/* banner1 start */

.banner__one {
    margin: 150px 0;
}

.content__banner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__description {
    margin: 35px auto;
    max-width: 39%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner__description h1 {
    font-size: 59px;
    font-weight: bold;
}

.content__banner1-body-text {
    font-size: 25px;
}

.content__banner1-spare-text {
    font-size: 15px;
}

/* banner1 end */

/* banner2 start */

.banner__two {
    max-width: 1440px;
    background-color: #FF9C7D;
    margin: 0 auto;
    padding: 60px 30px;
}

.banner__two-description {
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.banner__two-description-title {
    font-size: 60px;
    font-weight: bold;
    width: 100%;
}

/* banner2 end */

/*  content page start  */

.content__page {
    margin: 150px 0;
}

.content__page-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__page-description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

.content__page-description h2 {
    font-size: 50px;
    font-weight: bold;
}

.content__page-description p {
    font-size: 20px;
    line-height: 30px;
}

.content__page-description a {
    font-weight: bold;
}

/*  content page end  */

/* banner3 start */

.content__banner-three {
    background-color: rgba(255, 248, 228, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px 30px;
}

.content__banner-three-global-title h2 {
    font-size: 50px;
    font-weight: bold;
}

.banner__three-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.banner__three-item {
    max-width: 330px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.banner__three-item h3 {
    font-size: 25px;
    font-weight: bold;
}

.banner__three-item p {
    font-size: 20px;
    line-height: 25px;
}

/* banner3 end */

/*  @media adaptation start */

@media (max-width: 1200px) {
    .banner__one{
        margin: 30px 0;
    }
    .content__page{
        margin: 30px 0;
    }
    .container{
        max-width: 992px;
        .banner__images{
            max-width: 50%;
        }
        .banner__two-description-title{
            text-align: center;
        }
        .content__page-images{
            max-width: 50%;
        }
    }

}

@media (max-width: 992px) {
    .container{
        max-width: 768px;
        .header__content-right{
            display: none;
        }
        .content__banner-1{
            display: flex;
            flex-direction: column;
            gap: 10px;

        }
        .banner__description{
            align-items: center;
            margin: 0;
            max-width: 100%;
        }
        .content__banner-three{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}

@media (max-width: 768px) {
    .container{
        max-width: 576px;

    }
}

@media (max-width: 578px) {
    .container{
        max-width: 100%;
    }

}

/*  @media adaptation end  */
